[submodule "lubee"]
	path = lubee
	url = /home/degarashi/Encbox/git_repo/lubee
[submodule "frea"]
	path = frea
	url = /home/degarashi/Encbox/git_repo/frea
[submodule "spine"]
	path = spine
	url = /home/degarashi/Encbox/git_repo/spine
